body {
    background-color: beige;
}

header {
    margin: 0 auto;
    margin-bottom: 0px;
}

.hero{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 0%;
}

.overlay {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-right: 82%;
    color: beige;
}

.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkolivegreen;
    margin-top: 0%;
    color: beige;
    text-align: center;
    font-size: 20px;
}

.subtitle h2 {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.layout {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    height: fit-content;
}

.recipefilters {
    color: black;
    margin-left: calc(10%/2);
    margin-top: 30px;
    margin-right: 50px;
}

.filter {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 25px 0;
    display: block;
}

.filtertext {
    margin-bottom: 35px;
    font-size: 20px;
}

.filter input {
        border-radius: 20px;
        border: none;
        cursor: pointer;
        height: 14px;
        width: 14px;
}

.and {
    font-size: 40px;
}

.search input {
    float: right;
    padding: 6px;
    padding-right: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 17px;
}

.searchbutton {
    float: right;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 40px;
    border-radius: 10px;
    font-size: 17px;
    background-color: darkgreen;
    color:beige;
    cursor: pointer;
}

.recipes {
    margin: 50px 0;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 50px;
    flex-wrap: wrap;
}

.single {
    width: 30%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

}

.recipetitles {
    text-align: left;
    width: 100%;
}

.recipetitles h3 {
    font-size: 18px;
    color: darkgreen;
}

.recipetitles h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0;
    color: darkolivegreen;
}

.single img {
    width: 100%;
    object-fit:cover;
    height: 300px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .4));
}

footer {
    background-color: darkolivegreen;
    margin-bottom: 0;
    height: 70px;
    width: auto;
    text-align: center;
}

.footer {
    color: beige;
    font-size: 20px;
    padding-top: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1300px) {
    .overlay {
        top: 0px;
        font-size: 27px;
        margin-right: 82%;
        line-height: 1;
    }
}

@media only screen and (max-width: 1100px) {
    .overlay {
        top: 10px;
        font-size: 27px;
        margin-right: 80%;
        line-height: 0.5;
    }
}

@media only screen and (max-width: 900px) {

    .overlay {
        top: 10px;
        font-size: 23px;
        margin-right: 78%;
        line-height: 0.5;
    }

    .single img {
        height: 200px;
        width: auto;
    }

    .filter {
        font-size: 14px;
    }

    .filtertext {
        font-size: 18px;
    }

    .recipetitles h3 {
        font-size: 17px;
    }
    
    .recipetitles h4 {
        font-size: 14px;
    }

    .search input {
        font-size: 15px;
    }

    .searchbutton {
        font-size: 15px;
    }

    .and {
        font-size: 25px;
    }

    .subtitle {
        font-size: 18px;
    }

  }

  @media only screen and (max-width: 850px) {
    .recipes {
        margin: 50px 0;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 50px;
        flex-wrap: wrap;
    }

    .filter {
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 828px) {
    .recipes {
        margin: 50px 0;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 50px;
        flex-wrap: wrap;
    }

    .recipefilters {
    margin-left: calc(5%/2);
    margin-top: 30px;
    margin-right: 50px;
}
  }

  @media only screen and (max-width: 768px) {
    .overlay{
        top: 10px;
        font-size: 20px;
        margin-right: 78%;
        line-height: 0.5;
    }

    .and {
        font-size: 23px;
    }

    .subtitle {
        font-size: 16px;
    }

    .search input {
        padding-right: 50px;
    }

    .searchbutton {
        padding-right: 8px;
    }

    .layout {
        display: flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        height: fit-content;
    }

    .recipes {
        margin: 50px 0;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 50px;
        flex-wrap: wrap;
    }

    .single img {
        height: 150px;
        width: auto;
    }

    .recipetitles h3 {
        font-size: 16px;
    }
    
    .recipetitles h4 {
        font-size: 13px;
    }

    .footer {
        font-size: 17px;
    }
  }

  @media only screen and (max-width: 665px) { 
    .recipes {
        margin: 50px 0;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 50px;
        flex-wrap: wrap;
    }

  }

  @media only screen and (max-width: 630px) { 
    .overlay{
        top: 10px;
        font-size: 16px;
        margin-right: 78%;
        line-height: 0.5;
    }

    .and {
        font-size: 20px;
    }

    .subtitle {
        font-size: 14px;
    }

    .search {
        font-size: 14px;
        padding-right: 35px;
        margin-right: 0px;
    }

    .single {
        width: 90%;
    }

    .single img {
        height: 400px;
    }

    .search input {
        float: right;
        padding: 4px;
        padding-right: 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .searchbutton {
        float: right;
        padding-left: 10px;
        padding-right: 8px;
        margin-top: 10px;
        margin-right: 50px;
        margin-left: 15px;
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 566px) { 
    .single img {
        height: 300px;
    }

    .single {
        width: 80%;
    }

    .filter {
        font-size: 13px;
    }

    .filter input {
        border-radius: 20px;
        border: none;
        cursor: pointer;
        height: 12px;
        width: 12px;
    }

    .filter {
        width: 100%;
        margin: 25px 0;
        display: block;
        margin-right: 10px;
    }
  }

  @media only screen and (max-width: 500px) {

    .overlay{
        top: 4px;
        font-size: 14px;
        margin-right: 78%;
        line-height: 0.5;
    }

    .and {
        font-size: 18px;
    }

    .subtitle {
        font-size: 12px;
    }

  }

  @media only screen and (max-width: 490px) { 
    .single img {
        height: 200px;
    }

  }

  @media only screen and (max-width: 440px) { 
    .overlay {
        font-size: 12px;
    }

    .filtertext {
        font-size: 17px;
    }

    .filter {
        margin-right: 20px;
    }

    .footer {
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 395px) { 
    .overlay {
        font-size: 10px;
    }

    .and {
        font-size: 16px;
    }

    .subtitle {
        font-size: 10px;
    }

    .recipetitles h3 {
        font-size: 15px;
    }
    
    .recipetitles h4 {
        font-size: 13px;
    }
  }

  
  @media only screen and (max-width: 365px) { 
    .single img {
        height: 150px;
    }
  }

  @media only screen and (max-width: 320px) { 
    .overlay {
        font-size: 8px;
    }

    .and {
        font-size: 14px;
    }
    
  }